@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --text: #090109;
    --background: #fef6fd;
    --primary: #2fbc2f;
    --secondary: #FBE2B4;
    --accent: #61bb07;
  }

  /* Custom collapse animation */
.ant-collapse-content {
  transition: all 0.3s ease-out !important;
}

/* Hover effect on panels */
.ant-collapse > .ant-collapse-item:hover {
  transform: translateX(5px);
  transition: transform 0.2s;
}

/* for blog page */
.blog-card {
  transition: transform 0.3s, box-shadow 0.3s;
}
.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}